.navbar2-wrapper {
  display: contents;
}
 
.navbar2-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar2-navbar-interactive {
  width: 100%;
  height: var(--dl-layout-size-xlarge);
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  border-color: #ffffff;
  border-width: 1px;
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: center;
  background-color: #1c72af;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}
 
.navbar2-burger-menu {
  display: none;
}
 
.navbar2-image {
  width: 200px;
  object-fit: cover;
}
 
.navbar2-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-layout-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar2-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar2-link3 {
  color: #ffffff;
}
 
.home-fragment11 {
  display: contents;
}
 
.home-text11 {
  display: inline-block;
}
 
.home-fragment13 {
  display: contents;
}
 
.home-text13 {
  display: inline-block;
}
 
.home-fragment12 {
  display: contents;
}
 
.home-text12 {
  display: inline-block;
}
 
.home-fragment10 {
  display: contents;
}
 
.home-text10 {
  color: rgb(236, 229, 229);
  display: inline-block;
}
 

 

 
@media(max-width: 767px) {
  .navbar2-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .navbar2-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .navbar2-navbar-interactive {
    padding: var(--dl-layout-space-unit);
    align-self: stretch;
    padding-right: 16px;
    justify-content: center;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .navbar2-image {
    display: flex;
    justify-content: center;
  }
  .navbar2-mobile-menu {
    padding: var(--dl-layout-space-unit);
  }
  .navbar2root-class-name1 {
    padding: 0px;
  }
}

.content-list1-wrapper {
  display: contents;
}
 
.content-list1-container1 {
  width: 100%;
  height: 798px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: center;
}
 
.content-list1-container2 {
  width: 100%;
  height: 425px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
 
.content-list1-heading2 {
  color: #1d73ae;
  height: 273px;
  display: flex;
  text-align: center;
  align-items: center;
}
 
.content-list1-content2 {
  color: #1d73ae;
  width: 640px;
  height: 94px;
  background-color: #ffffff;
}
 
.content-list1-contact20 {
  gap: var(--dl-layout-space-threeunits);
  height: 400px;
  display: flex;
  overflow: hidden;
  position: relative;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: center;
  background-color: #1d73ae;
}
 
.content-list1-max-width {
  gap: var(--dl-layout-space-threeunits);
  width: 1160px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.content-list1-content1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.content-list1-contact-info1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.content-list1-content3 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.content-list1-text10 {
  align-self: stretch;
  text-align: center;
}
 
.content-list1-text11 {
  text-align: center;
}
 
.content-list1-email {
  text-align: center;
}
 
.content-list1-content4 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.content-list1-contact-info2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.content-list1-content5 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.content-list1-text12 {
  align-self: stretch;
  text-align: center;
}
 
.content-list1-text13 {
  text-align: center;
}
 
.content-list1-phone {
  text-align: center;
}
 
.content-list1-content6 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.content-list1-icon5 {
  width: 106px;
  height: 48px;
}
 
.content-list1-contact-info3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.content-list1-content7 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.content-list1-text14 {
  align-self: stretch;
  text-align: center;
}
 
.content-list1-text15 {
  text-align: center;
}
 
.home-fragment16 {
  display: contents;
}
 
.home-text16 {
  display: inline-block;
}
 
.home-fragment20 {
  display: contents;
}
 
.home-text23 {
  display: inline-block;
}
 
.home-fragment18 {
  display: contents;
}
 
.home-text21 {
  display: inline-block;
}
 
.home-fragment19 {
  display: contents;
}
 
.home-text22 {
  display: inline-block;
}
 
.home-fragment17 {
  display: contents;
}
 
.home-text17 {
  display: inline-block;
}
 
.home-fragment15 {
  display: contents;
}
 
.home-text15 {
  display: inline-block;
}
 
.home-fragment14 {
  display: contents;
}
 
.home-text14 {
  display: inline-block;
}
 

 
@media(max-width: 767px) {
  .content-list1-max-width {
    flex-direction: column;
  }
}
 
@media(max-width: 479px) {
  .content-list1-container1 {
    height: 1000px;
    padding-bottom: 0px;
    justify-content: center;
  }
  .content-list1-container2 {
    flex: 0;
    height: var(--dl-layout-size-xxlarge);
  }
  .content-list1-heading2 {
    height: 209px;
    text-align: center;
  }
  .content-list1-content2 {
    width: 100%;
    height: 157px;
    text-align: center;
  }
  .content-list1-contact20 {
    height: 800px;
    padding: 5px;
    margin-top: 5px;
  }
  .content-list1-max-width {
    width: 100%;
  }
  .content-list1-content1 {
    height: var(--dl-layout-size-xxlarge);
  }
  .content-list1-content4 {
    height: var(--dl-layout-size-xxlarge);
  }
  .content-list1-content6 {
    height: var(--dl-layout-size-xxlarge);
  }
}

.content-list12-wrapper {
  display: contents;
}
 
.content-list12-container {
  width: 100%;
  height: auto;
  display: flex;
  padding: 0px;
  position: relative;
  align-items: center;
  justify-content: center;
}
 
.content-list12-content {
  width: 100%;
  align-self: stretch;
  align-items: flex-start;
  background-color: #1c72af;
}
 
.content-list12-ul {
  width: 100%;
  align-items: center;
  justify-content: center;
}
 
.content-list12-li1 {
  height: var(--dl-layout-size-xxlarge);
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.content-list12-heading4 {
  width: 1400px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
 
.content-list12-content4 {
  width: 1200px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
 
.content-list12-li2 {
  width: 100%;
  height: var(--dl-layout-size-xxlarge);
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
 
.content-list12-heading5 {
  color: #1c72af;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.content-list12-content5 {
  color: #1c72af;
  height: 101px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.content-list12-li3 {
  height: var(--dl-layout-size-xxlarge);
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.content-list12-heading6 {
  text-align: center;
}
 
.content-list12-content6 {
  height: var(--dl-layout-size-xlarge);
  text-align: center;
}
 
.home-fragment21 {
  display: contents;
}
 
.home-text24 {
  display: inline-block;
}
 
.home-fragment22 {
  display: contents;
}
 
.home-text25 {
  display: inline-block;
}
 
.home-fragment23 {
  display: contents;
}
 
.home-text30 {
  display: inline-block;
}
 
.home-fragment24 {
  display: contents;
}
 
.home-text31 {
  display: inline-block;
}
 
.home-fragment25 {
  display: contents;
}
 
.home-text38 {
  display: inline-block;
}
 
.home-fragment26 {
  display: contents;
}
 
.home-text39 {
  display: inline-block;
}
 
@media(max-width: 1600px) {
  .content-list12-ul {
    width: 1600px;
  }
  .content-list12-li1 {
    width: 1600px;
    overflow: hidden;
  }
}
 
@media(max-width: 1200px) {
  .content-list12-content6 {
    width: 796px;
  }
}
 
@media(max-width: 767px) {
  .content-list12-li1 {
    width: 100%;
  }
  .content-list12-content4 {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .content-list12-ul {
    width: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .content-list12-li1 {
    align-self: center;
    text-align: center;
    list-style-type: disc;
    list-style-image: none;
    list-style-position: outside;
  }
  .content-list12-heading4 {
    color: #ffffff;
    width: 477px;
    text-align: center;
    background-color: #1d73ae;
  }
  .content-list12-content4 {
    color: #ffffff;
    width: 477px;
    text-align: center;
    background-color: #1d73ae;
  }
  .content-list12-li2 {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .content-list12-heading5 {
    color: #1d73ae;
    width: 100%;
    background-color: #ffffff;
  }
  .content-list12-content5 {
    color: #1d73ae;
    width: 476px;
    height: 186px;
    background-color: #ffffff;
  }
  .content-list12-li3 {
    width: 100%;
  }
  .content-list12-heading6 {
    width: 100%;
  }
  .content-list12-content6 {
    width: 459px;
  }
}

.footer8-wrapper {
  display: contents;
}
 
.footer8-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 0px;
  border-color: #ababab;
  border-width: 1px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: center;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
 
.footer8-max-width {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer8-content {
  gap: var(--dl-layout-space-fourunits);
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-twounits);
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: var(--dl-layout-radius-radius4);
  background-color: #ffffff;
}
 
.footer8-newsletter {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer8-content1 {
  color: rgb(29, 115, 174);
  text-transform: capitalize;
}
 
.footer8-text10 {
  font-weight: 700;
}
 
.footer8-content2 {
  color: #1d73ae;
}
 
.footer8-text14 {
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
}
 
.footer8-text17 {
  text-decoration: underline;
}
 
.footer8-text19 {
  text-decoration: underline;
}
 
.footer8-links {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: flex-end;
}
 
.footer8-column1 {
  gap: var(--dl-layout-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer8-column1-title {
  color: #1d73ae;
}
 
.footer8-footer-links1 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer8-link1 {
  color: #1d73ae;
}
 
.footer8-link2 {
  color: #1d73ae;
}
 
.footer8-credits {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer8-row {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.footer8-footer-links2 {
  gap: 24px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
}
 
.home-fragment27 {
  display: contents;
}
 
.home-text45 {
  display: inline-block;
}
 
.home-fragment30 {
  display: contents;
}
 
.home-text48 {
  display: inline-block;
}
 
.home-fragment29 {
  display: contents;
}
 
.home-text47 {
  display: inline-block;
}
 
.home-fragment28 {
  display: contents;
}
 
.home-text46 {
  display: inline-block;
}
 

 

 
@media(max-width: 991px) {
  .footer8-newsletter {
    width: 300px;
  }
}
 
@media(max-width: 767px) {
  .footer8-content {
    flex-direction: column;
  }
  .footer8-newsletter {
    width: 100%;
  }
  .footer8-links {
    width: 100%;
    align-items: flex-start;
    justify-content: center;
  }
  .footer8-column1 {
    align-items: center;
  }
  .footer8-column1-title {
    text-align: center;
  }
  .footer8-footer-links1 {
    align-self: center;
  }
  .footer8-row {
    gap: 0;
    flex-direction: column;
    justify-content: space-between;
  }
}
 
@media(max-width: 479px) {
  .footer8-container {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .footer8-max-width {
    padding-top: var(--dl-layout-space-threeunits);
  }
  .footer8-content {
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
    background-color: #ffffff;
  }
  .footer8-newsletter {
    height: 165px;
    align-items: center;
  }
  .footer8-content1 {
    color: rgb(29, 115, 174);
    text-align: center;
  }
  .footer8-text10 {
    font-weight: 700;
  }
  .footer8-content2 {
    color: rgb(29, 115, 174);
    text-align: center;
    flex-direction: row-reverse;
    justify-content: center;
  }
  .footer8-text14 {
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
  }
  .footer8-text15 {
    text-transform: capitalize;
  }
  .footer8-text17 {
    text-decoration: underline;
  }
  .footer8-text19 {
    text-decoration: underline;
  }
  .footer8-links {
    height: 124px;
    flex-direction: column;
  }
  .footer8-column1 {
    width: 100%;
    height: 115px;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer8-column1-title {
    color: #1d73ae;
  }
  .footer8-footer-links1 {
    align-items: center;
    justify-content: center;
  }
  .footer8-link1 {
    color: #1d73ae;
  }
  .footer8-link2 {
    color: #1d73ae;
  }
  .footer8-credits {
    gap: 0;
  }
  .footer8-row {
    gap: var(--dl-layout-space-oneandhalfunits);
    align-items: center;
    justify-content: center;
  }
  .footer8-footer-links2 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-text47 {
    color: rgb(29, 115, 174);
  }
  .footer8root-class-name1 {
    padding: var(--dl-layout-space-fiveunits);
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
}

.home-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.home-fragment10 {
  display: contents;
}
 
.home-text10 {
  color: rgb(236, 229, 229);
  display: inline-block;
}
 
.home-fragment11 {
  display: contents;
}
 
.home-text11 {
  display: inline-block;
}
 
.home-fragment12 {
  display: contents;
}
 
.home-text12 {
  display: inline-block;
}
 
.home-fragment13 {
  display: contents;
}
 
.home-text13 {
  display: inline-block;
}
 
.home-fragment14 {
  display: contents;
}
 
.home-text14 {
  display: inline-block;
}
 
.home-fragment15 {
  display: contents;
}
 
.home-text15 {
  display: inline-block;
}
 
.home-fragment16 {
  display: contents;
}
 
.home-text16 {
  display: inline-block;
}
 
.home-fragment17 {
  display: contents;
}
 
.home-text17 {
  display: inline-block;
}
 
.home-fragment18 {
  display: contents;
}
 
.home-text21 {
  display: inline-block;
}
 
.home-fragment19 {
  display: contents;
}
 
.home-text22 {
  display: inline-block;
}
 
.home-fragment20 {
  display: contents;
}
 
.home-text23 {
  display: inline-block;
}
 
.home-image {
  width: 100%;
  height: 834px;
  object-fit: cover;
}
 
.home-fragment21 {
  display: contents;
}
 
.home-text24 {
  display: inline-block;
}
 
.home-fragment22 {
  display: contents;
}
 
.home-text25 {
  display: inline-block;
}
 
.home-fragment23 {
  display: contents;
}
 
.home-text30 {
  display: inline-block;
}
 
.home-fragment24 {
  display: contents;
}
 
.home-text31 {
  display: inline-block;
}
 
.home-fragment25 {
  display: contents;
}
 
.home-text38 {
  display: inline-block;
}
 
.home-fragment26 {
  display: contents;
}
 
.home-text39 {
  display: inline-block;
}
 
.home-fragment27 {
  display: contents;
}
 
.home-text45 {
  display: inline-block;
}
 
.home-fragment28 {
  display: contents;
}
 
.home-text46 {
  display: inline-block;
}
 
.home-fragment29 {
  display: contents;
}
 
.home-text47 {
  display: inline-block;
}
 
.home-fragment30 {
  display: contents;
}
 
.home-text48 {
  display: inline-block;
}
 
.home-link {
  display: contents;
}
 
.home-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.home-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.home-text49 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
 
@media(max-width: 479px) {
  .home-image {
    height: 438px;
  }
  .home-text47 {
    color: rgb(29, 115, 174);
  }
}
