.content-list1-container1 {
  width: 100%;
  height: 798px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: center;
}
 
.content-list1-container2 {
  width: 100%;
  height: 425px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
 
.content-list1-heading2 {
  color: #1d73ae;
  height: 273px;
  display: flex;
  text-align: center;
  align-items: center;
}
 
.content-list1-content2 {
  color: #1d73ae;
  width: 640px;
  height: 94px;
  background-color: #ffffff;
}
 
.content-list1-contact20 {
  gap: var(--dl-layout-space-threeunits);
  height: 400px;
  display: flex;
  overflow: hidden;
  position: relative;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: center;
  background-color: #1d73ae;
}
 
.content-list1-max-width {
  gap: var(--dl-layout-space-threeunits);
  width: 1160px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.content-list1-content1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.content-list1-contact-info1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.content-list1-content3 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.content-list1-text10 {
  align-self: stretch;
  text-align: center;
}
 
.content-list1-text11 {
  text-align: center;
}
 
.content-list1-email {
  text-align: center;
}
 
.content-list1-content4 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.content-list1-contact-info2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.content-list1-content5 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.content-list1-text12 {
  align-self: stretch;
  text-align: center;
}
 
.content-list1-text13 {
  text-align: center;
}
 
.content-list1-phone {
  text-align: center;
}
 
.content-list1-content6 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.content-list1-icon5 {
  width: 106px;
  height: 48px;
}
 
.content-list1-contact-info3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.content-list1-content7 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.content-list1-text14 {
  align-self: stretch;
  text-align: center;
}
 
.content-list1-text15 {
  text-align: center;
}
 
.content-list1-fragment1 {
  display: contents;
}
 
.content-list1-text16 {
  display: inline-block;
}
 
.content-list1-fragment2 {
  display: contents;
}
 
.content-list1-text17 {
  display: inline-block;
}
 
.content-list1-fragment3 {
  display: contents;
}
 
.content-list1-text18 {
  display: inline-block;
}
 
.content-list1-fragment4 {
  display: contents;
}
 
.content-list1-text19 {
  display: inline-block;
}
 
.content-list1-fragment5 {
  display: contents;
}
 
.content-list1-text20 {
  display: inline-block;
}
 
.content-list1-fragment6 {
  display: contents;
}
 
.content-list1-text24 {
  display: inline-block;
}
 
.content-list1-fragment7 {
  display: contents;
}
 
.content-list1-text25 {
  display: inline-block;
}
 

 
@media(max-width: 767px) {
  .content-list1-max-width {
    flex-direction: column;
  }
}
 
@media(max-width: 479px) {
  .content-list1-container1 {
    height: 962px;
    padding-bottom: 0px;
    justify-content: center;
  }
  .content-list1-container2 {
    flex: 0;
    height: var(--dl-layout-size-xxlarge);
  }
  .content-list1-heading2 {
    height: 209px;
    text-align: center;
  }
  .content-list1-content2 {
    width: 100%;
    height: 157px;
    text-align: center;
  }
  .content-list1-contact20 {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .content-list1-max-width {
    width: 100%;
  }
  .content-list1-content1 {
    height: var(--dl-layout-size-xxlarge);
  }
  .content-list1-content4 {
    height: var(--dl-layout-size-xxlarge);
  }
  .content-list1-content6 {
    height: var(--dl-layout-size-xxlarge);
  }
}
