.footer8-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: center;
}
 
.footer8-max-width {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer8-content {
  gap: var(--dl-layout-space-fourunits);
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-twounits);
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: var(--dl-layout-radius-radius4);
  background-color: #ffffff;
}
 
.footer8-newsletter {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer8-content1 {
  color: rgb(29, 115, 174);
  text-transform: capitalize;
}
 
.footer8-text10 {
  font-weight: 700;
}
 
.footer8-content2 {
  color: #1d73ae;
}
 
.footer8-text14 {
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
}
 
.footer8-text17 {
  text-decoration: underline;
}
 
.footer8-text19 {
  text-decoration: underline;
}
 
.footer8-links {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: flex-end;
}
 
.footer8-column1 {
  gap: var(--dl-layout-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer8-column1-title {
  color: #1d73ae;
}
 
.footer8-footer-links1 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer8-link1 {
  color: #1d73ae;
}
 
.footer8-link2 {
  color: #1d73ae;
}
 
.footer8-credits {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer8-row {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.footer8-footer-links2 {
  gap: 24px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
}
 
.footer8-fragment1 {
  display: contents;
}
 
.footer8-text21 {
  display: inline-block;
}
 
.footer8-fragment2 {
  display: contents;
}
 
.footer8-text22 {
  display: inline-block;
}
 
.footer8-fragment3 {
  display: contents;
}
 
.footer8-text23 {
  display: inline-block;
}
 
.footer8-fragment4 {
  display: contents;
}
 
.footer8-text24 {
  display: inline-block;
}
 

 

 
@media(max-width: 991px) {
  .footer8-newsletter {
    width: 300px;
  }
}
 
@media(max-width: 767px) {
  .footer8-content {
    flex-direction: column;
  }
  .footer8-newsletter {
    width: 100%;
  }
  .footer8-links {
    width: 100%;
    align-items: flex-start;
    justify-content: center;
  }
  .footer8-column1 {
    align-items: center;
  }
  .footer8-column1-title {
    text-align: center;
  }
  .footer8-footer-links1 {
    align-self: center;
  }
  .footer8-row {
    gap: 0;
    flex-direction: column;
    justify-content: space-between;
  }
}
 
@media(max-width: 479px) {
  .footer8-container {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .footer8-max-width {
    padding-top: var(--dl-layout-space-threeunits);
  }
  .footer8-content {
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
    background-color: #ffffff;
  }
  .footer8-newsletter {
    height: 165px;
    align-items: center;
  }
  .footer8-content1 {
    color: rgb(29, 115, 174);
    text-align: center;
  }
  .footer8-text10 {
    font-weight: 700;
  }
  .footer8-content2 {
    color: rgb(29, 115, 174);
    text-align: center;
    flex-direction: row-reverse;
    justify-content: center;
  }
  .footer8-text14 {
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
  }
  .footer8-text15 {
    text-transform: capitalize;
  }
  .footer8-text17 {
    text-decoration: underline;
  }
  .footer8-text19 {
    text-decoration: underline;
  }
  .footer8-links {
    height: 124px;
    flex-direction: column;
  }
  .footer8-column1 {
    width: 100%;
    height: 115px;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer8-column1-title {
    color: #1d73ae;
  }
  .footer8-footer-links1 {
    align-items: center;
    justify-content: center;
  }
  .footer8-link1 {
    color: #1d73ae;
  }
  .footer8-link2 {
    color: #1d73ae;
  }
  .footer8-credits {
    gap: 0;
  }
  .footer8-row {
    gap: var(--dl-layout-space-oneandhalfunits);
    align-items: center;
    justify-content: center;
  }
  .footer8-footer-links2 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .footer8-text23 {
    color: rgb(29, 115, 174);
  }
  .footer8root-class-name1 {
    padding: var(--dl-layout-space-fiveunits);
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
}
